<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>New Reading Book</title>
  </head>
  <body>
    <h1>New Reading Book</h1>
    <form
      th:action="@{/reading-books}"
      th:object="${readingBookForm}"
      method="post"
    >
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}" required />
      </div>
      <div>
        <label for="isReading">Currently Reading:</label>
        <input type="checkbox" id="isReading" th:field="*{reading}" />
      </div>
      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" th:field="*{startDate}" required />
      </div>
      <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" th:field="*{endDate}" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
