<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" th:href="@{/css/components/header.css}" />
  </head>

  <body>
    <div th:fragment="site-header">
      <div class="header primary-background-color">
        <a href="/" class="logo-container">
          <div class="logo">BookHub</div>
        </a>

        <div class="navigations">
          <a href="/dashboard" class="nav">マイページ</a>
        </div>
      </div>
    </div>
  </body>
</html>
