<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ダッシュボード</title>
    <link rel="stylesheet" href="/css/pages/dashboard.css" />
  </head>

  <body>
    <div th:replace="components/header :: site-header"></div>

    <div class="container">
      <div class="user-panel-container">
        <div>
          <div>「〇〇さん」の読活履歴</div>
        </div>
        <!-- TODO ログアウト機能 -->
        <!-- TODO CSSを非ログインでも拾えるようにする -->
      </div>

      <div class="bookshelf-container">
        <h1>書籍一覧</h1>

        <a href="/reading-books/new">本を登録</a>

        <!-- 本棚 -->
        <div class="bookshelf">
          <div th:each="book : ${readingBooks}" class="book-panel">
            <a
              th:href="@{/reading-books/{id}(id=${book.id})}"
              class="book-title"
              th:text="${book.title}"
            ></a>
            <div class="book-details">
              <span
                class="is-reading"
                th:text="${book.isReading ? '読書中' : '読了'}"
              ></span>
              <span class="start-date" th:text="${book.startDate}"></span>
              <span class="end-date" th:text="${book.endDate}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
