<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ダッシュボード</title>
    <link rel="stylesheet" href="/css/pages/dashboard.css" />
  </head>

  <body>
    <!-- <div th:replace="components/header :: site-header"></div> -->
    <div th:replace="~{components/header :: site-header}"></div>

    <div class="container">
      <div class="user-panel-container">
        <div>
          <div>「〇〇さん」の読活履歴</div>
        </div>

        <div class="activity-container">
          <div class="reading-activities-container">
            <h3>今月の読書履歴</h3>
            <div class="reading-activities-box">
              <div th:each="dayActivity : ${activities}">
                <div class="day" th:data-count="${dayActivity.count}"></div>
              </div>
            </div>
          </div>

          <div class="activities-result-container">
            <h3>実績</h3>
            <div>新規数 11</div>
            <div>読了数 3</div>
          </div>
        </div>
      </div>

      <div class="bookshelf-container">
        <h2>書籍一覧</h2>

        <a href="/reading-books/new">本を登録</a>

        <!-- 本棚 -->
        <div class="bookshelf">
          <!-- Book-Item -->
          <div th:each="book : ${readingBooks}" class="book-panel">
            <div>
              <img th:src="${book.thumbnail}" />
            </div>
            <a
              th:href="@{/reading-books/{id}(id=${book.id})}"
              class="book-title"
              th:text="${book.title}"
            ></a>
            <div class="book-details">
              <span
                class="is-reading"
                th:text="${book.isReading ? '読書中' : '読了'}"
              ></span>
              <span class="start-date" th:text="${book.startDate}"></span>
              <span class="end-date" th:text="${book.endDate}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
