@import "/css/styles.css";
@import "/css/components/header.css";
@import "/css/components/container.css";
@import "/css/components/shares.css";
@import "/css/components/book-detail.css";

/* 共通 */
.hidden {
  display: none;
}

.active {
  background-color: #ddd;
}

/* 入力欄 */
.detail-form-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-mode-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-item {
  /* TODO 横幅いっぱいにする */
}

/* TODO リスト欄 */
.memo-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.memo-item {
  background: rgb(235, 252, 242);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
