<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${reading_book.title}"></title>
    <link rel="stylesheet" href="/css/pages/reading-books/detail.css" />
  </head>

  <body th:data-book-id="${reading_book.id}">
    <div th:replace="components/header :: site-header"></div>

    <div class="container" style="margin-top: 20px">
      <!-- 書籍詳細 -->
      <div class="book-detail-container">
        <div>
          <img alt="image" th:src="${book.thumbnail}" />
        </div>

        <div>
          <h1 th:text="${reading_book.title}">書籍のタイトル</h1>
          <div>
            <div>著者:</div>
            <div>出版日:</div>
          </div>

          <div>
            <div>レート</div>
          </div>

          <div class="book-detail-select-container">
            <div>進行状況</div>
            <select id="status-select" name="status">
              <option
                value="unread"
                th:selected="${reading_book.status == 'unread'}"
              >
                未読
              </option>
              <option
                value="reading"
                th:selected="${reading_book.status == 'reading'}"
              >
                読書中
              </option>
              <option
                value="done"
                th:selected="${reading_book.status == 'done'}"
              >
                完了
              </option>
            </select>
          </div>

          <div class="book-detail-buttons">
            <button class="button register-button">本棚から外す</button>

            <a
              th:href="@{/books/{id}(id=${reading_book.bookId})}"
              class="link-button"
              >書籍詳細へ</a
            >
          </div>

          <div class="shares-container">
            <div>Twitter</div>
            <div>Twitter</div>
          </div>
        </div>
      </div>

      <div class="detail-form-container">
        <div class="form-mode-container">
          <div id="memo-tab" class="tab-item active">メモ</div>
          <div id="review-tab" class="tab-item">レビュー</div>
        </div>

        <div id="form-content">
          <div class="form-item">
            <form
              id="memo-form"
              th:action="@{/reading-books/{id}/memos(id=${reading_book.id})}"
              method="post"
            >
              <textarea
                name="content"
                placeholder="ページ数や感想..."
              ></textarea>
              <input type="submit" value="メモを追加" />
            </form>
          </div>

          <div id="review-form" class="form-item hidden">
            <form
              th:action="@{/reading-books/{id}/reviews(id=${reading_book.id})}"
              method="post"
            >
              <input type="text" name="content" />
              <input type="submit" value="レビューを追加" />
            </form>
          </div>
        </div>
      </div>

      <div class="memo-list-container">
        <div th:each="memo : ${memos}">
          <div class="memo-item">
            <span th:text="${memo.content}"></span>
          </div>
        </div>

        <div th:if="${#lists.isEmpty(memos)}">メモを追加してみましょう</div>
      </div>
    </div>

    <!-- JS -->
    <script src="/js/readingBooks/detail.js"></script>
  </body>
</html>
