<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${reading_book.title}"></title>
    <link rel="stylesheet" href="/css/pages/reading-books/detail.css" />
  </head>

  <body th:data-book-id="${reading_book.id}">
    <div th:replace="components/header :: site-header"></div>

    <div class="container" style="margin-top: 20px">
      <div class="book-detail-container">
        <div>
          <img alt="image" th:src="${book.thumbnail}" />
        </div>

        <div>
          <h1 th:text="${reading_book.title}">書籍のタイトル</h1>
          <div>本棚に登録済み</div>
          <!-- TODO まずこれをやる -->
          <div>書籍の詳細ページへ</div>
          <div>SHAREする</div>
        </div>
      </div>

      <div class="detail-form-container">
        <div class="form-mode-container">
          <div id="memo-tab" class="tab-item active">メモ</div>
          <div id="review-tab" class="tab-item">レビュー</div>
        </div>

        <div id="form-content">
          <div class="form-item">
            <form
              id="memo-form"
              th:action="@{/reading-books/{id}/memos(id=${reading_book.id})}"
              method="post"
            >
              <input type="text" name="content" />
              <input type="submit" value="メモを追加" />
            </form>
          </div>

          <div id="review-form" class="form-item hidden">
            <form
              th:action="@{/reading-books/{id}/reviews(id=${reading_book.id})}"
              method="post"
            >
              <input type="text" name="content" />
              <input type="submit" value="レビューを追加" />
            </form>
          </div>
        </div>
      </div>

      <div class="memo-list-container">
        <div th:each="memo : ${memos}">
          <div class="memo-item">
            <span th:text="${memo.content}"></span>
          </div>
        </div>

        <div th:if="${#lists.isEmpty(memos)}">メモを追加してみましょう</div>
      </div>
    </div>

    <script src="/js/readingBooks/detail.js"></script>
  </body>
</html>
