<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>読書中の本を登録</title>
    <link rel="stylesheet" href="/css/pages/reading-books/new.css" />
  </head>

  <body>
    <div th:replace="components/header :: site-header"></div>

    <div class="container" style="margin-top: 24px">
      <h1>検索</h1>

      <div>
        <input
          type="text"
          id="searchQuery"
          placeholder="書籍を検索"
          onkeydown="checkForEnter(event)"
        />
        <button onclick="searchBooks()" id="serachButton">検索</button>
      </div>

      <!-- 検索結果を表示 -->
      <div id="results"></div>

      <div id="pageInfo"></div>

      <button id="prevButton" disabled>前へ</button>
      <button id="nextButton" disabled>次へ</button>

      <!-- TODO いつか実装する -->
      <!-- モーダルダイアログ -->
      <div id="myModal" style="display: none">
        <div>
          <label for="titleInput">タイトルを入力:</label>
          <input type="text" id="titleInput" />
          <button onclick="addReadingBookByTitle()">登録</button>
        </div>
      </div>
    </div>

    <script src="/js/searchBooks.js"></script>
  </body>
</html>
