.bookshelf-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.bookshelf {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;

  /* TODO 小さい時は一列で出す */
}

.book-panel {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
}

.book-details {
  font-size: 12px;
}

/* ステータス */
.book-status {
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 2px;
}

.book-status-unread {
  color: rgb(122, 122, 122);
  background-color: white;
  font-weight: 700;
  border: 1px solid rgb(122, 122, 122);
}

.book-status-reading {
  background-color: #00c4cc;
  color: white;
  font-weight: bold;
  border: 1px solid #00c4cc;
}

.book-status-done {
  background-color: rgb(122, 122, 122);
  color: white;
  border: 1px solid rgb(122, 122, 122);
}

/* 開始日 */
.book-date-container {
}

.book-date {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}
