.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1em;
  color: white;
}

/* Logo */
.logo-container {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

/* Navigations */
.navigations {
  font-size: 18px;
}

.nav {
  color: white;
  font-weight: 700;
  background: rgb(255, 167, 4);
  border-radius: 5px;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
}
